<div data-content-filter<% if defined?(filter_order) && filter_order %> data-filter-order="<%= filter_order %>"<% end %><% if defined?(filter_label) && filter_label %> data-filter-label="<%= filter_label %>"<% end %>></div>
