name: Static site build and publish

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    name: Check spelling
    steps:
      - name: Spell-Check
        uses: check-spelling/check-spelling@v0.0.24
        with:
          checkout: true
          extra_dictionaries:
            cspell:npm/dict/npm.txt
            cspell:fullstack/dict/fullstack.txt
            cspell:php/dict/php.txt
            cspell:k8s/dict/k8s.txt
            cspell:html/dict/html.txt
            cspell:typescript/dict/typescript.txt
            cspell:golang/dict/go.txt
            cspell:dotnet/dict/dotnet.txt
            cspell:mnemonics/src/mnemonics.txt
            cspell:rust/dict/rust.txt
            cspell:clojure/src/clojure.txt
            cspell:monkeyc/src/monkeyc_keywords.txt
            cspell:cryptocurrencies/cryptocurrencies.txt
            cspell:scala/dict/scala.txt
            cspell:ruby/dict/ruby.txt
            cspell:lua/dict/lua.txt
            cspell:css/dict/css.txt
            cspell:r/src/r.txt
            cspell:html-symbol-entities/entities.txt
            cspell:java/src/java.txt
            cspell:software-terms/dict/softwareTerms.txt
            cspell:python/src/python/python-lib.txt
            cspell:node/dict/node.txt
            cspell:aws/aws.txt
            cspell:python/src/common/extra.txt
  build:
    runs-on: ubuntu-latest
    name: 'Build and Test'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '4.0.1'
          bundler-cache: true
      - name: Build
        run: bundle exec middleman build
      - name: 'Check for broken links'
        run: bundle exec rake check_urls
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
